# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su


*~
*.m4
*.cache
compile
config.*
configure
install-sh
ltmain.sh
m4
missing
*.in
ar-lib
depcomp
Makefile
stamp-h1
libtool
.deps
.cproject
.project
.settings
patterns*.txt
search
plot
table.html
*.html
